# Remove these lines if another location of snapshots is used.
/cachedir/*
!/cachedir/snapshots/
/cachedir/snapshots/*
!/cachedir/snapshots/.gitkeep

# Ignore image data
/data/*
!/data/segkps.zip
!/data/veh_keypoints/
/data/veh_keypoints/*
!/data/veh_keypoints/veh_keypoints.csv

# Pretrained models
/pretrainedModels/*
!/pretrainedModels/.gitkeep

__pycache__/
